
$primary-color: #cfe164;
$secondary-color: #444;
$text-color: #fff;
$background-color: #333;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
}

button {
  background-color: $primary-color;
  color: $background-color;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }
}
